In [12]:
# necessary imports
import pandas as pd

In [13]:
ai_61a_df = pd.read_csv("ai_61a_data.csv")
ai_61a_df.head()

,name,pronoun,bio,semester
0,Aayaan Arora,NaN,What's up. My name is Aayaan and I am a second...,fa22
1,Aayushi Chaudhry,she/her/hers,Hi!! I am a sophomore from San Diego. I am stu...,fa22
2,Aayushi Jain,she/her/hers,hi there i'm a sophomore studying EECS :) i lo...,fa22
3,Adi Iyer,he/him/his,Hey! I'm a sophomore form Bangalore India and ...,fa22
4,Aditya Rao,he/him/his,Hi! My name is Aditya and I am a sophomore stu...,fa22

In [ ]:
### TODO: BEGIN ANALYSIS ###